<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Gayateri-Parivahan</title>
    <link rel="icon" href="../static/logo.png" type="image/jpeg">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">     
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../staic/site.webmanifest">  
    <link rel="mask-icon" href="../staic/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="../static/style.css" />
  <body>
  <div class="container-fluid-2">
  <div class="container a-b">
      <div class="logo-body"><img class="logo" src="../static/logo.png" alt="">
      <p class="logo-text">Gayateri <br> Parivahan</p></div>
      <nav>
        <label id="icon">
          <i class="fas fa-bars"></i>
        </label>
      <ul >
        <li class="active a"><a href="/">Home</a></li>
        <li class="active a"><a href="/aboutus">About us</a></li>
        <li class="active a"><a href="/contactus">CONTACT US</a></li>
        <li class="active a"><a href="/services">Service</a></li>
        <li class="active a"><a href="/clients">Clients</a></li>
        <li class="active a"><a href="https://paytm.me/c7-KG3a">PAY HERE</a></li>
      </ul>
      </div>
      <div class="content2">
        <div class="content2B">
        <h1>ABOUT US</h1>
        <p>
          Gayateri Gayateri Parivahan is a leading transportation & logistics service provider in all over India through Road Transportations , we believe in the growth of our valued customers. When at that day we started this logistics program, we decide to do better in all manners of customer satisfactions just as door to door delivery in given appropriate destinations in India. It aims to make a shift to become a single window solution provider Transport Industries. We have the privilege of being deemed by our valued customers as the most reliable and respected transportation & logistics service provider. 
<br><br>
With With the help of our efficient resources, we not only handle large volumes but also small consignments wherein Door to Door delivery is offered through multimodal transportation services to cater to the need for handling critical items. We focus to provide effective and reliable express distribution services through continuous development of human resources, operational systems, information technology and infrastructure, by adhering to Quality Management Systems.
<br><br>
Our Our continuous growth with our valued clientele reflects our good design, effective management and customers' satisfaction.
</b>
<br>
  <h1>Our company is running under below Registrations and Licenses</h1>
  <p>1.&nbsp;<b>GST&nbsp;No.:-&nbsp;<b>09MZWPS6699N1ZA</b></p>
  <p>2.&nbsp;<b>PAN&nbsp;No.:-&nbsp;<b>MZWPS6699N</b></p>
  <p>3.&nbsp;<b>Ministry of Micro, Small & Medium Enterprises Registration No.:-&nbsp;<b>UDYAM-UP-29-0034441</b></p>
</div>
</div>
<div class="extraspace"></div>
<footer class="foot"><h3>© gayateri-parivahan.com, All rights reserved</h3></footer>
</div>
</body>
</head>
<script src="../static/app.js"></script>
</html>