<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Gayateri-Parivahan</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="../static/style.css" />
  <body>
  <div class="container-fluid">
  <div class="container">
      <div class="logo-body"><img class="logo" src="../static/logo.png" alt="">
      <p class="logo-text">Gayateri <br> Parivahan</p></div>
      <nav>
        <label id="icon">
          <i class="fas fa-bars"></i>
        </label>
      <ul >
        <li class="active a"><a href="/">Home</a></li>
        <li class="active a"><a href="/aboutus">About us</a></li>
        <li class="active a"><a href="/contactus">CONTACT US</a></li>
        <li class="active a"><a href="/services">Service</a></li>
        <li class="active a"><a href="/clients">Clients</a></li>
        <li class="active a"><a href="https://paytm.me/c7-KG3a">PAY HERE</a></li>
        
        </li>
      </ul>
      </div>
      </nav>
      <div class="content3">
      <div class="content3-2 C-1">
      <div class="OC1"></div> 
      <h1 class="OC">OUR CLIENTS</h1>
      <div class="extraspace2">
      <div class="client2">
      <div class="clientA"><img src="../static/1.png" alt=""></div>
      <div class="clientA"><img src="../static/2.png" alt=""></div>
      </div>
      </div>
      <div class="extraspace2">
      <div class="client3">
      <div class="clientB"><img src="../static/3.png" alt=""></div>
      <div class="clientB"><img src="../static/4.png" alt=""></div>
      </div>
      </div>
      <div class="extraspace2">
      <div class="client4">
      <div class="clientC"><img src="../static/5.png" alt=""></div>
      <div class="clientC"><img src="../static/6.png" alt=""></div>
      </div>
      </div>
      <div class="extraspace2">
      <div class="client5">
      <div class="clientD"><img src="../static/7.png" alt=""></div>
      <div class="clientD"><img src="../static/8.png" alt=""></div>
      </div>
      </div>
      <div class="extraspace2">
      <div class="client6">
      <div class="clientE"><img src="../static/9.png" alt=""></div>
      <div class="clientE"><img src="../static/10.png" alt=""></div> 
      </div>
      </div>
      <div class="extraspace2">
      <div class="client7">
      <div class="clientF"><img src="../static/11.png" alt=""></div>
      </div>
      </div>
      </div>
      <footer class="foot"><h3>© gayateri-parivahan.com, All rights reserved</h3></footer>
      </div></div>
      </body>
      <script src="../static/app.js"></script>
      </html>