<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gayateri-Parivahan</title>
    <link rel="icon" href="../static/logo.png" type="image/jpeg">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">     
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../staic/site.webmanifest">  
    <link rel="mask-icon" href="../staic/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container-fluid-2">
        <div class="container a-b">
            <div class="logo-body"><img class="logo" src="../static/logo.png" alt="">
            <p class="logo-text">Gayateri <br> Parivahan</p></div>
            <nav>
              <label id="icon">
                <i class="fas fa-bars"></i>
              </label>
            <ul >
                <li class="active a"><a href="/">Home</a></li>
                <li class="active a"><a href="/aboutus">About us</a></li>
                <li class="active a"><a href="/contactus">CONTACT US</a></li>
                <li class="active a"><a href="/services">Service</a></li>
                <li class="active a"><a href="/clients">Clients</a></li>
                <li class="active a"><a href="https://paytm.me/c7-KG3a">PAY HERE</a></li>
            </ul>
            </div>
            <div class="content2">
              <div class="content2B">
        <h1>ADDRESS</h1>
        <br>
        
        <P><b>7TH Mile Stone ,Giani Border,Metro Pillar No. 152<br>Chikamberpur, Sahibabad, Ghaziabad-201006</P>
        
        <P>Corp. Office-K-61,A Patel NAgar 3rd,<br>Ghaziabad-201001</P>
        
        
            <P>B.O.: Oriental Tiles Ke Samne Gopalpur Telmil,<br> Sikandrabad</P>
        <br>
        <p>Contact No. :-&nbsp; <b>9910415039</b></p>
         <br>
        <div class="btn0"><a onclick="javascript:genericSocialShare('mailto:gparivahan07@gmail.com')"><button class="bt">Enquiry Through Mail</button></a></div>
         </div>
         </div>
         <footer class="foot"><h3>© gayateri-parivahan.com, All rights reserved</h3></footer>
         </div>
</body>
<script src="../static/app.js"></script>
</html>