<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Gayateri-Parivahan</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <link rel="icon" href="../static/logo.png" type="image/jpeg">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">     
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../staic/site.webmanifest">  
    <link rel="mask-icon" href="../staic/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  </head>
  <link rel="stylesheet" href="../static/style.css" />
  <body>
  <div class="container-fluid">
  <div class="container">
  <div class="logo-body"><img class="logo" src="../static/logo.png" alt="">
  <p class="logo-text">Gayateri <br> Parivahan</p></div>
  <nav>
    <label id="icon">
      <i class="fas fa-bars"></i>
    </label>
  <ul >
        <li class="active a"><a href="/">Home</a></li>
        <li class="active a"><a href="/aboutus">About us</a></li>
        <li class="active a"><a href="/contactus">CONTACT US</a></li>
        <li class="active a"><a href="/services">Service</a></li>
        <li class="active a"><a href="/clients">Clients</a></li>
        <li class="active a"><a href="https://paytm.me/c7-KG3a">PAY HERE</a></li>
  </ul>
  </nav>
  </div>
  <div class="content">
  <div class="contentA">  
  <h3>A GROUP OF JAIPUR GOODS</h3>
  <h1>GAYATERI <br> PARIVAHAN</h1>
  <a href="/aboutus">
  <button class="btn btn3">Read More</button></a>
    <a href="/contactus"><button  class="btn btn2 btn3">Contact Us</button></a>
</div>
  <div class="content3-1"></div>
  <div class="content3-2">
  <h1 class="OC">OUR CLIENTS</h1>
  <div class="client1">
  <div class="client"><img src="../static/1.png" alt=""></div>
  <div class="client"><img src="../static/2.png" alt=""></div>
  <div class="client"><img src="../static/3.png" alt=""></div>
  <div class="client"><img src="../static/4.png" alt=""></div>
  <div class="client"><img src="../static/5.png" alt=""></div>
  <div class="client"><img src="../static/6.png" alt=""></div>
  <div class="client"><img src="../static/7.png" alt=""></div>
  <div class="client"><img src="../static/8.png" alt=""></div>
  <div class="client"><img src="../static/9.png" alt=""></div>
  <div class="client"><img src="../static/10.png" alt=""></div> 
  <div class="client"><img src="../static/11.png" alt=""></div>
  </div>
  </div>
  <footer class="foot"><h3>© gayateri-parivahan.com, All rights reserved</h3></footer>
  </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="../static/app.js"></script>
  </html>
