<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Gayateri-Parivahan</title>
     <link rel="icon" href="../static/logo.png" type="image/jpeg">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">     
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../staic/site.webmanifest">  
    <link rel="mask-icon" href="../staic/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head>
  <link rel="stylesheet" href="../static/style.css" />
  <body>
    <div class="container-fluid-3">
      <div class="container a-b">
        <div class="logo-body"><img class="logo" src="../static/logo.png" alt="">
          <p class="logo-text">Gayateri <br> Parivahan</p></div>
          <nav>
            <label id="icon">
              <i class="fas fa-bars"></i>
            </label>
          <ul >
            <li class="active a"><a href="/">Home</a></li>
            <li class="active a"><a href="/aboutus">About us</a></li>
            <li class="active a"><a href="/contactus">CONTACT US</a></li>
            <li class="active a"><a href="/services">Service</a></li>
            <li class="active a"><a href="/clients">Clients</a></li>
            <li class="active a"><a href="https://paytm.me/c7-KG3a">PAY HERE</a></li>
          </ul>
      </div>
      <div class="content1">
        <h1 class="headline">ROAD TRANSPORTATION</h1>
        <ul>
            <li>
               <p>We deliver your valuable goods safely on time through Road Transport in the manner of goods depends, apart from the degree of development of the local infrastructure, on the distance the goods are transported by road, the weight and volume of the individual shipment, and the type of goods transported. For short distances and light, small shipments a van or pickup truck may be used. For large shipments even if less than a full truck load a truck is more appropriate. Delivery services are sometimes considered a separate category from super safe logistics & our transport.
            </p> </li>
            <li>
                <p>To avoid accidents caused by fatigue, truckers have to keep to strict rules for drive time and required rest periods.</p>
            </li>
            <li>
                <p >If the shipper wants to details where the goods is in the current position we will fill up all queries by the shipper on urgent basis by one window all queries.</p>
            </li>
            <li>
                <p>On cross-border transportation is to be provided bill or forms issued by the government & the basic document for road freight.</p>
            </li>
            <li>
                <p>If the shipper wants the goods is to be insured then we will charged extra as usual by the logistics rules & regulation.</p>
            </li>
        </ul>
        <h1 class="headline">Rail Transportation</h1>
        <ul>
          <li><p>After receiving good response from our valued customer we decide that we are able to choose to start transportation with Indian Railways container train. </p></li>
          <li><p>We observe that a container from Delhi to Mumbai takes less than 40 hours.The train takes minimum hours in comparison of Road transportation then we started the rail transportation for All over India.</p></li>
          <li><p>The Company is also providing door-to-door transportation of goods through containers.</p></li>
          <li><p>Information technology and computers are increasingly being used by the company to keep a track of movements of goods traffic and to regulate its operation in an economical, optimal and efficient manner.</p></li>
        </ul>
        <div class="extraspace1"></div>
        <footer class="foot"><h3>© gayateri-parivahan.com, All rights reserved</h3></footer>
    </div>
  </body>
  <script src="../static/app.js"></script>
  </html>